name: LS

on:
  workflow_dispatch:

jobs:
  ls-tools:
    runs-on: ubuntu-latest

    permissions: write-all

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: "tytydraco/LADB"
          ref: "main"

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: "temurin"
          cache: "gradle"

      - name: bt
        run: |
          echo ${ANDROID_HOME}
          ls ${ANDROID_HOME}/*
          ls ${ANDROID_HOME}/build-tools/*
      
      - run: |
          pwd
          ls
