name: LS - Debug - Something

on:
  workflow_call:
  workflow_dispatch:

jobs:
  ls-tools:
    runs-on: ubuntu-latest

    permissions: write-all

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: "tytydraco/LADB"
          ref: "main"

      # - name: Set up JDK 17
      #   uses: actions/setup-java@v4
      #   with:
      #     java-version: 17
      #     distribution: "temurin"
      #     cache: "gradle"

      # - name: List ANDROID_HOME
      #   run: |
      #     echo ${ANDROID_HOME}
      #     ls ${ANDROID_HOME}/*
      #     ls ${ANDROID_HOME}/build-tools/*

      # - run: yes | sdkmanager --licenses

      - run: echo ${{ github.workflow }}
      - run: |
          pwd
          ls
      # - run: |
      #     curl \
      #     https://example.com

      - run: |
          echo ${{ github.workflow }}
          echo ${{ github.workflow_ref }}
          echo ${{ github.action_ref }}
          echo ${{ github.action_repository }}
          echo ${{ github.action_path }}

      # - run: |
      #     sudo apt install -y moreutils
      #     sponge --help

      - run: |
          git clone https://github.com/wrppg/bff.git bff
          ls bff/

      - uses: actions/checkout@v4
        with:
          repository: "wrppg/aaa"
          ref: "main"
          path: aaa
          token: ${{ secrets.GH_AAA_REPO }}
      - run: |
          cd aaa
          ls .
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-action[bot]"
          git pull
          # sed -E "/${APP_NAME}/s/^[0-9]+/${VER_CODE}/" -i app_record.txt
          # column -t app_record.txt > app_record.txt.tmp
          # mv app_record.txt.tmp app_record.txt
          date > time.txt
          git add time.txt
          # git commit -m "update time.txt"
          git commit -m "time"
          git push
          cd
          pwd
          ls

          
      - uses: actions/checkout@v4
      - run: |
          cd
          pwd
          ls
          

      # - uses: actions/checkout@v4
      #   with:
      #     path: 'bff'

      # - run: ls

      # - run: |
      #     pwd
      #     bash -c 'pwd'
      #     bash bff/t.sh
